@charset "uft-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

.cabecalho{
    background-color: black;
    color: white;
    text-align: center;
}
.cabecalho > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

.cabecalho > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color:black
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.525);
    color: white;
    width: 400px;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.257);
}


.rodape{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}


